.Content {
    width: calc(100% - (256px + 64px));
    height: 100%;
    padding-top: 24px;
    flex-grow: 1;
}

.tags {
    margin-bottom: 12px;
}

.tags * {
    margin-right: 12px;
}

.Videos {
    height: 100%;
    overflow: scroll;
    display: grid;
    gap: 32px;
}

.ThreeColumn {
    grid-template-columns: repeat(3, 1fr);
}

.FourColumn {
    grid-template-columns: repeat(4, 1fr);
}

