.SideBar {
    padding-top: 24px;
    margin-right: 64px;
    height: 100%;
    overflow: auto;
    width: 256px;
}

.Condensed {
    width: 64px !important;
    margin-right: 32px;
}

.Condensed ul {
    padding-top: 8px;
}

.CondensedItem a {
    padding-left: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    text-decoration: none;
    color: #fff;
}

.CondensedItem i {
    font-size: 24px;
    margin-bottom: 4px;
}

.CondensedItem span {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.OffScreen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 256px;
    background :red;
    z-index: 1000;
}

.SideBar h2 {
    margin-top: 0;
    display: flex;
    align-items: center;
}

.ExpandedItem {
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.ExpandedItem a {
    text-decoration: none;
    color: #fff;
    width: 100%;
} 

.ExpandedItem a button {
    width: 100%;
    border-radius: 10px;
    background: transparent;
    border:none;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 16px;
}

.ExpandedItem a button:hover, .Selected {
    background: #222 !important;
}

.ExpandedItem i {
    font-size: 24px;
    margin-right: 16px;
}

.ExpandedItem span {
    font-size: 16px;
}

.SubName {
    font-size: 14px;
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

hr {
    margin: 24px 0;
    border: solid .5px rgba(255,255,255,0.15);
}

nav ul, nav ul li {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    width: 100%;
}
