header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 64px;
}

.MenuLogo {
    display: flex;
    align-items: center;
}

.MenuButton {
    cursor: pointer; 
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin: 0;
    margin-left: 11px;
    padding: 0;
    background: transparent;
    color: #fff;
    border: none;
}

.MenuButton:hover {
    background: #232323;
}

.MenuLogo .Logo button {
    margin-left: 16px;
    background: transparent;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    margin-right: 16px;
    font-size: 22px;
}

.PersonalBar {
    display: flex;
    align-items: center;
    margin-right: 11px;
}

.Cast, .Notifications {
    background: none;
    color: #fff;
    border: 0;
    font-size: 22px;
    margin: 0 8px;
}

.Notifications {
    margin-right: 16px;
}
